<!-- Navbar and Header -->
<nav class="nav-extended nav-full-header z-depth-0 blue-grey darken-3">
  <div id="bg-container" class="nav-background">

        <div class="ea active bg-image"></div>
      <!-- <video loop playsinline id="video"></video> -->
      <div class="video-background" style="display: none;">
        <div class="video-foreground">
            <div id="player"></div>
        </div>
      </div>
  </div>
  <div class="nav-wrapper container">
      <a href="/" class="brand-logo font-style">Foto Cleone.ID</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="https://cleone.id">Home</a></li>
          <li><a href="https://blog.cleone.id">Blog</a></li>
          <li><a href="https://ambience.cleone.id">Ambience</a></li>
          <li><a href="https://galeri.cleone.id">Galeri</a></li>
          <li class="active"><a href="https://foto.cleone.id">Foto</a></li>
          <li><a href="https://art.cleone.id">Art</a></li>
      </ul>
  </div>

  <div class="nav-header valign-wrapper font-style">
      <div class="center">
          <h1>Foto Cleone.ID</h1>
          <div class="ge">Koleksi fotografi anggota komunitas</div>
      </div>
  </div>

  <!-- Fixed Masonry Filters -->
  <div class="categories-wrapper">
      <div class="categories-container">
          <ul class="categories container">
              <li class="active"><a href="#all">All</a></li>
              <li><a href="#nature" id="nature">Nature</a></li>
              <li><a href="#culture" id="culture">Culture</a></li>
          </ul>
      </div>
  </div>
</nav>
<ul class="side-nav" id="nav-mobile">
<li>
    <a href="https://cleone.id"><i class="material-icons">dashboard</i>Home</a>
</li>
<li>
    <a href="https://blog.cleone.id"><i class="material-icons">article</i>Blog</a>
</li>
<li>
    <a href="https://ambiencecleone.id"><i class="material-icons">event</i>Ambience</a>
</li>
<li>
    <a href="https://galeri.cleone.id"><i class="material-icons">palette</i> Galeri</a>
</li>
<li class="active">
    <a href="https://foto.cleone.id"><i class="material-icons">camera_alt</i> Foto</a>
</li>
<li>
    <a href="https://art.cleone.id"><i class="material-icons">local_mall</i> Art</a>
</li>
</ul>